<template>
  <h2>File</h2>

  <form @submit.prevent="submit()">
    <label>Description</label>
    <input name="description" type="text" v-model.trim="model.description" />

    <br />
    <label>Content</label>
    <input name="content" type="text" v-model.trim="model.content" />

    <br />
    <div>
      <button class="discard" @click.prevent="discard()">discard</button>
      <button
        type="submit"
        :class="mode"
        :disabled="!model.description || !model.content"
      >
        <span v-text="mode"></span>
      </button>
    </div>
  </form>

  <hr />

  <h2>Files</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Content</th>
      </tr>
    </thead>

    <tbody>
      <tr
        v-for="file of objects"
        :key="file.id"
        :class="{ selected: model && model.id === file.id }"
        @click="select(file)"
      >
        <td>{{ file.id }}</td>
        <td>{{ file.description }}</td>
        <td>{{ file.content }}</td>
        <td type="input">
          <button class="delete" @click.stop="remove(file.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { DaoOptions, EditMode } from "@/composables/useDao";
import useTopicRoute from "@/composables/useTopicRoute";
import { defineComponent } from "vue";

export default defineComponent({
  name: "Files",

  setup() {
    const factory = () => ({ description: "", content: "" });
    const options: DaoOptions<"file"> = { topic: "file", factory };

    const { dao, select, discard } = useTopicRoute(options);
    const { model, objects, mode, remove } = dao;

    function submit() {
      switch (mode.value) {
        case EditMode.CREATE:
          return dao.save();
        case EditMode.UPDATE:
          return dao.update();
        default:
          return;
      }
    }

    return {
      model,
      mode,
      objects,

      select,
      discard,

      submit,
      remove,
    };
  },
});
</script>
