<template>
  <div class="home">
    <h2>Welcome!</h2>
  </div>
</template>

<style lang="scss">
.home {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
