<template>
  <div id="nav">
    <section class="person">
      <div class="col">
        <h2>Person</h2>

        <form @submit.prevent="submit()">
          <label>Name</label>
          <input name="name" type="text" v-model.trim="model.name" />

          <br />
          <div>
            <button class="discard" @click.prevent="discard()">discard</button>
            <button type="submit" :class="mode" :disabled="!model.name">
              {{ mode }}
            </button>
          </div>
        </form>
      </div>
    </section>

    <hr />

    <section>
      <div class="col">
        <h2>Persons</h2>

        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="person of objects"
              :key="person.id"
              :class="{ selected: model && model.id === person.id }"
              @click="select(person)"
            >
              <td>{{ person.id }}</td>
              <td>{{ person.name }}</td>
              <td type="input">
                <button class="delete" @click.stop="remove(person.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { DaoOptions, EditMode } from "@/composables/useDao";
import useTopicRoute from "@/composables/useTopicRoute";
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    const factory = () => ({ name: "" });
    const options: DaoOptions<"person"> = { topic: "person", factory };

    const { dao, select, discard } = useTopicRoute(options);
    const { model, objects, mode, save, update, remove } = dao;

    function submit() {
      switch (mode.value) {
        case EditMode.CREATE:
          return save();
        case EditMode.UPDATE:
          return update();
        default:
          return;
      }
    }

    return {
      model,
      mode,
      objects,

      select,
      discard,

      submit,
      remove,
    };
  },
});
</script>
