<template>
  <h2>Redirect....</h2>
</template>

<script lang="ts">
import Injectables from "@/injectables";
import { Status } from "@/injectables/useAuth";
import { distinct, shareReplay } from "rxjs";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  setup() {
    const router = useRouter();
    const { status$ } = Injectables.inject(Injectables.auth);

    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);
    const redirect = params.get("origin") ?? "/";

    status$.pipe(distinct(), shareReplay()).subscribe({
      next: (status) => {
        if (status === Status.SUCCESS) {
          console.debug("Redirect to: ", redirect);
          router.push(redirect);
        }
      },
      error: (e) => console.error(e),
    });
  },
});
</script>
