<template>
  <nav>
    <h2>
      <router-link to="/">Home</router-link>
    </h2>

    <h2>
      <router-link to="/file">Files</router-link>
    </h2>

    <h2>
      <router-link to="/person">Persons</router-link>
    </h2>
  </nav>

  <section>
    <router-view></router-view>
  </section>
</template>

<style lang="scss">
html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #303a4b;
  color: white;

  * {
    box-sizing: border-box;
  }
}

nav {
  width: 100%;
  padding: 0 30%;

  display: flex;
  justify-content: space-around;
}

a {
  &,
  &:visited {
    color: white;
  }

  &.router-link-active {
    color: rgb(28, 197, 248);
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  hr {
    width: 100%;
    margin: 2rem 0;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;

  &:last-child {
    margin-left: 1rem;
  }
}

input:focus,
[type="input"]:focus,
[type="submit"]:focus {
  outline: 2px solid rgb(211, 149, 51);
}

form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.25rem;

  input {
    border-style: solid;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #b1b1b1;
    border-radius: 0.25rem;
    color: #111;
    font-size: 1em;
    margin: 0.5rem 0;
  }

  input,
  button {
    height: 2rem;
    box-sizing: border-box;
  }

  input,
  label {
    width: 100%;
  }

  label::after {
    content: ":";
  }

  button {
    width: 5rem;
  }
}

button {
  border: none;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;

  &.create {
    background: rgb(78, 124, 26);
  }

  &.update {
    background: rgb(3, 89, 201);
  }

  &.discard {
    background: rgb(212, 118, 29);
    margin-right: 0.5rem;
  }

  &.delete {
    background: rgb(221, 65, 26);
  }
}

table {
  border-collapse: collapse;

  th {
    text-align: left;
    text-transform: capitalize;
  }

  td,
  th {
    padding: 0.5rem;
  }

  tr {
    border-bottom: 1px solid white;
    box-sizing: border-box;
  }

  td[type="input"] {
    width: 2rem;
  }

  tbody {
    tr:hover,
    .selected {
      cursor: pointer;
      background: rgba(109, 194, 228, 0.3333);
    }
  }
}
</style>
